<!doctype html>

<html>
<head>
	<title>Write to Remember</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
	<link rel="apple-touch-startup-image" href="/public/images/WtRIcon.png">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<center>
	<div class="header">
		<center>
		<span class="logo">Write to Remember</span>
		</button>
		</center>
  	</div>
  	<div class ="logOut">
  	<button type = "button" id = "logOutButton" class = "btn btn-primary btn-sm">Log Out</button>
  </div>
  	<div class = "tutorialHeader">
  		<center>
  		<h2><font color = "1B9BE0">Learn everything there is to know about Write to Remember!</font></h2>
  		</center>
  	</div>
  	<div class="tutorialOdd">
		<div class="wrap">
    		<div class="invisible"></div>
    			<img src="images/homePage.png" height = "175" width = "400">
    			<h4><font color = "1B9BE0">Create a New Entry</font></h4>
    			<p>Your entries can include text, video, and photo. Just add what you'd like and click "submit".</p>
    			<p>There's no daily limit on entries--write as often as you like!</p>
			</div>
		</div>
  	<div class="tutorialEven">
  		<div class="wrap">
    		<div class="invisible"></div>
    			<img src="images/pastPage.png" height = "200" width = "400">
    			<h4><font color = "1B9BE0">View and Edit Past Entries</font></h4>
    			<p>Scroll through to revisit your past entries.</p>
    			<p>Click the "edit entry" button to revise an entry, or delete an entry by clicking on the trash icon</p>
			</div>
		</div>
  	</div>
  	<div class="tutorialOdd">
  		<div class="wrap">
    		<div class="invisible"></div>
    			<img src="images/settingsPage.jpeg" height = "200" width = "400">
    			<h4><font color = "1B9BE0">Edit your settings</font></h4>
    			<p>Write to Remember makes things easy--it will send you reminder notifications!</p>
    			<p>You can toggle the frequency of your notifications, or turn them off entirely</p>
			</div>
		</div>
  	</div>
  	<div class = "endOfTutorial"></div>
  	<div class ="footer">
		<br>
		<center>
			<button type="button" id="pastButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-list">
			<button type="button" id="homeButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-edit">
			<button type="button" id="settingsButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-cog">
			<button type="button" id="instructionsButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-book">
		</center>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/general.js"></script>
	<script src="/js/home.js"></script>
</center>
</body>
</head>