<!doctype html>

<html>
<head>
	<title>Write to Remember</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
  <link href="/css/instructions.css" rel="stylesheet">
	<link rel="apple-touch-startup-image" href="/public/images/WtRIcon.png">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
  <div class = "content">
	<center>
  	<div class="header">
  		<center>
  		  <span class="logo">Tutorial</span>
  		</center>
    </div>
  	<div class ="logOut">
  	   <button type = "button" id = "logOutButton" class = "btn btn-primary btn-sm">Log Out</button>
    </div>
    <div class = "tutorialOdd">
      <center>
        <br>
        <h4><font color = "1B9BE0">Create a New Entry</font></h4><br>
        <center><IMG src="http://f.cl.ly/items/2H1W3I0i0O0f070X2A37/Screen%20Shot%202014-03-07%20at%209.08.01%20AM.png" width = "100" height = "160"></center><br>
        <p>Your entries can include text, video, and photo. <br>Just add what you'd like and click "submit".<br>
        There's no daily limit on entries--write as often as you like!</p>
      </center>
    </div>
    <div class = "tutorialEven">
      <center>
        <br>
        <h4><font color = "1B9BE0">View Your Past</font></h4><br>
        <center><IMG src="http://f.cl.ly/items/1m3k1L1d3j2p3847293Y/Screen%20Shot%202014-03-07%20at%209.08.15%20AM.png" width = "100" height = "160"></center><br>
        <p>View all of your past entries<br>You can edit, save, and delete changes</p>
      </center>
    </div>
    <div class = "tutorialOdd">
      <center>
        <br>
        <h4><font color = "1B9BE0">Settings</font></h4><br>
        <center><IMG src="http://f.cl.ly/items/093n0L3S1b1x083v1O3u/Screen%20Shot%202014-03-07%20at%209.08.29%20AM.png" width = "100" height = "160"></center><br>
        <p>We will remind you to post as often as you'd like!<br>You can toggle when and how often we remind you</p>
      </center>
    </div>
    <div class = "tutorialEven">
      <center>
        <br>
        <h4><font color = "1B9BE0">Push Notifications</font></h4><br>
        <center><IMG src="http://f.cl.ly/items/1c3w3W2H3D3K3m2e0D2i/IMG_0758.PNG" width = "100" height = "160"></center><br>
        <p>To recieve push notifications you must download the app Pushover. <br> Visit pushover.net to sign up and get your user key. <br> Then add your user key here in settings to start recieving notifications.</p>
      </center>
    </div>
    <br><br><br><br><br><br><br><br>
  	<div class ="footer">
  		<br>
  		<center>
  			<button type="button" id="pastButton" class="btn btn-primary btn-lg bottomButton">
  			<span class="glyphicon glyphicon-list">
  			<button type="button" id="homeButton" class="btn btn-primary btn-lg bottomButton">
  			<span class="glyphicon glyphicon-edit">
  			<button type="button" id="settingsButton" class="btn btn-primary btn-lg bottomButton">
  			<span class="glyphicon glyphicon-cog">
  			<button type="button" id="instructionsButton" class="btn btn-primary btn-lg bottomButton">
  			<span class="glyphicon glyphicon-book">
		  </center>
	 </div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/general.js"></script>
	<script src="/js/home.js"></script>
</center>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48671837-1', 'writetoremember.herokuapp.com');
  ga('send', 'pageview');

</script>
</div>
</body>
</head>