<!doctype html>

<html>
<head>
	<title>Write to Remember</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
	<link rel="apple-touch-startup-image" href="/public/images/WtRIcon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class = "content">
	<div class="header">
		<center>
		<span class="logo">Settings</span>
		</button>
		</center>
  	</div>
  	<div class ="logOut">
  	<button type = "button" id = "logOutButton" class = "btn btn-primary btn-sm">Log Out</button>
  </div>
	<div class="container">
		<center>
			<span>Remind Me to Write: </span>
			<select name="rate" id="rate">
	   			<option value="hourly">Hourly</option>
	   			<option value="daily">Daily</option>
	   			<option value="weekly">Weekly</option>
	   		</select>

	   		<button type="button" id="testPush" class="flatButton">Test Push Notification</button>

	   		<div id="rateKey" class={{rate}}></div>	
	   		<!--button type = "button" id = "apiTest" class="btn btn-primary btn-lg">Test API</button-->
		</center>
	</div>
		<div class ="footer">
		<br>
		<center>
			<button type="button" id="pastButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-list">
			<button type="button" id="homeButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-edit">
			<button type="button" id="settingsButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-cog">
			<button type="button" id="instructionsButton" class="btn btn-primary btn-lg bottomButton">
			<span class="glyphicon glyphicon-book">
		</center>
	</div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/general.js"></script>
<script src="/js/settings.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48671837-1', 'writetoremember.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>